table, th, td{
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}

p{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
}

table{
    width: 300px;
    height: 300px;
}

a{
    text-decoration: none;
    color: black;
}

#moltres{
    width: 50px;
}